<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.com">
<head>
    <title>File Converter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "/js/getProcessedFiles.js"></script>
    <script src = "/js/getInOutDir.js"></script>
</head>
<body>
    <div id = "helloDiv">
        <p align="center">Welcome to File Converter UI</p>
    </div>
    <div id = "pathDiv">
        <p id = "in">Input path: </p>
        <p id = "out">Output path: </p>
    </div>

    <div id = "buttonDiv">
        <p>Press refresh button to see what files a processed in current session</p>
        <button id = "refreshButton">Refresh</button>
    </div>
    <div id = "convertedDiv">
        <ul id = "processedList">

        </ul>
    </div>
</body>
</html>